# Galaxy Welcome Bot Configuration
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# ID of the server(s) allowed for the bot (comma-separated)
ALLOW_SERVER="1494164519801590031"

# ID of the welcome channel where the greeting will be posted
WELCOME_CHANNEL_ID="1494164521038905397"
